@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 0 5px;
  width: 1170px;
  margin: auto;
}
.navber {
  background-color: #262626;
  padding: 15px 0px;
}
.mainnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manubar ul {
  display: flex;
}
.manubar ul li {
  list-style-type: none;
  margin-left: 30px;
}
.manubar ul li a {
  text-decoration: none;
  color: #fff;
}
.heading {
  background-color: #2a2a2a;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading .head h1 {
  color: #fff;
  font-size: 45px;
}
.heading .head h1 span {
  font-weight: 200;
}
.heading .head p {
  font-family: "Lato", sans-serif;
  color: #d1d1d1;
  font-size: 34px;
  font-weight: 300;
  font-style: italic;
  margin: 20px 0 40px 0;
}
.heading .head a {
  background-color: #ff6760;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  padding: 15px 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.heading .head a:hover {
  background-color: #fff;
  color: #ff6760;
}
.service {
  background-color: #f8f8f8;
  padding: 80px 0;
}
.mainservice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singleService {
  text-align: center;
  padding: 0 20px;
}
.singleService i {
  font-size: 40px;
  color: #616161;
  transition: all 0.3s ease;
}
.singleService h4 {
  color: #616161;
  padding: 20px 0;
}
.singleService p {
  color: #616161;
  font-size: 14px;
  line-height: 24px;
}
.singleService:hover i {
  transform: scale(1.5);
  color: #ff6760;
}
/* items */
.iteams {
  padding: 80px 0px;
}
.hading2 .newHead h2 {
  text-align: center;
  color: #616161;
}
.hading2 .newHead p {
  text-align: center;
  margin-top: 15px;
  color: #616161;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
.battoms {
  text-align: center;
  margin-top: 60px;
}
.battoms a {
  text-decoration: none;
  background-color: #ff6760;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.battoms a:hover {
  background-color: #595959;
}
.mainIteams {
  margin-top: 30px;
  overflow: hidden;
}
.singleIteams {
  text-align: center;
}
.singleIteams img {
  transition: all 0.3s ease;
  overflow: hidden;
}
.singleIteams img:hover {
  transform: scale(1.05);
}
/* footer */

.footerMain {
  background-color: #313131;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footerIteams h2 {
  font-size: 28px;
  color: #e0e0e0;
}
.footerIteams p {
  color: #7b7b7b;
  font-size: 17px;
  padding: 10px 0;
}
.address {
  display: flex;
  justify-content: center;
}
.address p {
  font-size: 16px;
  margin: 0 8px;
}
.address p i {
  color: #ff6760;
}
.footerIcons {
  padding: 20px 0;
}
.footerIcons i {
  font-size: 16px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50px;
  color: #fff;
  background: #5883c0;
  transition: all 0.3s ease;
}
.footerIcons i:hover {
  background-color: #fff;
  color: #000;
}
.adres {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #474444;
  color: #fff;
  padding: 30px 0;
}
